extends ./layout/indexLayout.pug

block title
  title Arthur Murray
block content
  include includes/pageTop
  div(class="hero-image")
    div(class="hero-text")
      h3 Where dance and technology collide
  main
    .container
      ul          
        li 
          img(src="./img/logos/dance-couple-png.png", alt="dancing couple logo")
          p Join our community of dance professionals. 
        li 
          img(src="./img/logos/ML-brain.png", alt="brain network logo")
          p Use this platform to help Microsoft’s cloud-based AI algorithm to learn how to judge ballroom dance performances.
        li
          img(src="./img/logos/green-and-blue-logo.png", alt="") 
          p By uploading your own dance or giving feedback on others you are helping to make the future the present!
    div 
      img(class="filler-img", src="./img/dancePhotos/favflashmob.png", alt="dancing flash mob")
    div(class="text-center mt-4")
      a(href='upload' class="btn btn-xl btn-outline-light")
        i(class="fas fa-upload mr-2") Upload Dance
      a(href='list' class="btn btn-xl")
        i(class="fas fa-bars mr-2") Judge Dances

  footer(id="sticky-footer" class="py-4 bg-dark text-white-50")
    div(class="container text-center")
      small Copyright &copy; Accurate Motion Performance Analysis Team UCL
      div
    div(id="logo-wrapper")
      a(href="https://azure.microsoft.com/en-gb/overview/what-is-azure/?&OCID=AID719823_SEM_w7Oa4h4M&lnkd=Google_Azure_Brand&dclid=CjgKEAiAtvPjBRCHgZbe4_2wtQMSJACRB3whGzd9iUhTpdHvW9dcekHVMY-zSnAIxkMbNyorDqn0JfD_BwE" target="_blank")
      img(class="img-footer-logo" src="img/logos/microsoft-azure-vector-logos-logo-zone-11212.png" alt="Microsoft Azure logo")
      a(href="https://www.ucl.ac.uk/" target="_blank")
      img(class="img-footer-logo" src="img/logos/UCL_Institute_of_Education_logo.png" alt="IOE logo")
      a(href="https://www.ucl.ac.uk/engineering/" target="_blank")
      img(class="img-footer-logo" src="img/logos/UCL-Engineering-logo_basic_trans.png" alt="UCL Engineering logo" height="100px")
      a(href="http://arthur-murray.com/" target="_blank")
      img(class="img-footer-logo" src="img/logos/beach-bash-arthur-murray-dance-studio-free-open-house-159400.png" alt="Arthur Murray logo")
  
  script.
    window.onload = function() {
      Particles.init({
        selector: '.background'
      })
    }
  
  canvas(class="background")
  script(src="particles.js-master/dist/particles.min.js")
    
//-   //- Header
//-   header(class="masthead bg-primary text-white text-center")
//-     div(class="container")
//-       img(class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="")
//-       h1(class="text-uppercase mb-0") Welcome to the Arthur Murray Judging Platform
      
//-       //- if loginCheck
//-       //-   script alert("Login is Required")
//-       hr(class="star-light")
//-       h2(class="font-weight-light mb-0")
//-       h3 Where dance and technology collide.
//-       h6. 
//-         Use this platform to help Microsoft’s cloud-based AI algorithm to learn how to judge ballroom dance performances. 
//-         Join our community of dance professionals, and by uploading your own dance or giving feedback on others you are helping to make the future the present!
//-       div(class="text-center mt-4")
//-         a(href='upload' class="btn btn-xl btn-outline-light")
//-           i(class="fas fa-upload mr-2") Upload dance
//-         a(href='list' class="btn btn-xl")
//-           i(class="fas fa-upload mr-2") Judge dances
//- block foot
//-   footer(id="sticky-footer" class="py-4 bg-dark text-white-50")
//-     div(class="container text-center")
//-       small Copyright &copy; Accurate Motion Performance Analysis Team UCL
//-       div
//-       div(id="logo-wrapper")
//-         a(href="https://azure.microsoft.com/en-gb/overview/what-is-azure/?&OCID=AID719823_SEM_w7Oa4h4M&lnkd=Google_Azure_Brand&dclid=CjgKEAiAtvPjBRCHgZbe4_2wtQMSJACRB3whGzd9iUhTpdHvW9dcekHVMY-zSnAIxkMbNyorDqn0JfD_BwE" target="_blank") 
//-         img(class="img-footer-logo" src="img/microsoft-azure-vector-logos-logo-zone-11212.png" alt="Microsoft Azure logo")
//-         a(href="https://www.ucl.ac.uk/" target="_blank") 
//-         img(class="img-footer-logo" src="img/UCL_Institute_of_Education_logo.png" alt="IOE logo")
//-         a(href="https://www.ucl.ac.uk/engineering/" target="_blank")
//-         img(img class="img-footer-logo" src="img/UCL-Engineering-logo_basic_trans.png" alt="UCL Engineering logo" height="100px")
//-         a(href="http://arthur-murray.com/" target="_blank")
//-         img(class="img-footer-logo" src="img/beach-bash-arthur-murray-dance-studio-free-open-house-159400.png" alt="Arthur Murray logo")
//-       script(src="particles.js/dist/particles.min.js")