extends ./layout/websiteLayout.pug

block head
  meta(content="text/html; charset=utf-8")
  script(src="css/dhtmlxscheduler.js")
  link(rel="stylesheet" href="css/dhtmlxscheduler.css")
  style(type="text/css" media="screen").
      html, body{
          margin:0px;
          padding:0px;
          height:100%;
          overflow:hidden;
      }

block title
  title View List
block content
  include includes/pageTop

  script(type="text/javascript" charset="utf-8").
    function init() {
        scheduler.init('scheduler_here',new Date(2018,8,4),"month");
    }
  body(onload="init();")
    div(class='calendar')
      div(id="scheduler_here" class="dhx_cal_container calendar" style='width:100%; height:100%;')
          div(class="dhx_cal_navline")
              div(class="dhx_cal_prev_button") &nbsp;
              div(class="dhx_cal_next_button") &nbsp;
              div(class="dhx_cal_today_button")
              div(class="dhx_cal_date")
              div(class="dhx_cal_tab" name="day_tab")
              div(class="dhx_cal_tab" name="week_tab")
              div(class="dhx_cal_tab" name="month_tab")
          div(class="dhx_cal_header")
          div(class="dhx_cal_data")



  //- //- Header
  //- header(class="masthead bg-primary text-white")
  //-   div(class="container")
  //-     h3(id='title') Competitions
  //-       ul(class='list-group' id='listByCompetitions')

  //-   script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  //-   script(type="text/javascript" src='list.js')