extends ./layout/websiteLayoutSemiDeep.pug

block title
  title Login
block content
  include includes/pageTopSemiDeep

  header(class="masthead")
    div(class="container")
        h2(class="text-center text-uppercase text-secondary mb-0") Login
        hr(class="star-dark mb-5")
        div(class="row")
            div(class="col-lg-8 mx-auto")
                form(action="/auth/login_process" method='post')
                    .md-form
                        input#email.form-control(name='email' type='email' value="jerrykang13@gmail.com")
                        label(for='email') Email
                    .md-form
                        input#password.form-control(name='pwd' type='password' value="111111")
                        label(for='password') Password
                    br
                    div(id="success")
                    div(class="form-group")
                        input(type="submit" value="Login" class="btn btn-primary btn-xl")