extends ./layout/websiteLayout.pug

block title
  title Video Upload
block content
  include includes/pageTop
  //- Header
  header(class="masthead")
    .container.navbar-margin
      h1.h1-5.text-center Upload Video
      div(class="row")
        div(class="col-lg-6 mx-auto")
            form.md-form(action="/upload/fileupload" method='post' enctype="multipart/form-data" novalidate="novalidate")
                .md-form
                    input#competition.form-control(name='competition' type='text')
                    label(for='competition') Competition
                .md-form
                    input#location.form-control(name='location' type='text')
                    label(for='location') Location (Full address)
                .md-form
                    input#name.form-control(name='name' type='text')
                    label(for='name') Name
                .md-form
                    input#dance.form-control(name='dance' type='text')
                    label(for='dance') Dance
                .container
                    .row
                        .col-6
                            input#date.form-control(name='date' type='date')
                            label(for='date') Date
                        .col-6
                            input#time.form-control(name='time' type='time')
                            label(for='time') Time
                .file-field
                    .btn.btn-light.btn-sm.float-left
                        span Choose video
                        input(type='file' name='fileUpload' accept='video/*')
                    .file-path-wrapper
                        input.file-path.validate(type='text' placeholder='Upload your file')
                br
                div(id="success")
                .form-group.text-center
                    input(type="submit" value="Upload" class="btn btn-primary")